<section id="projects" class="container">
<div class="projects-content">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper-projects">
        <ul class="swiper-wrapper projects-list">
        </ul>
        <div class="swiper-navigation">
        <div class="projects-btn-prev">
            <svg class="swiper-pr-svg" width="24px" height="24px"><use href="./img/icons.svg#icon-arrow-narrow-left"></use></svg>
        </div>
        <div class="projects-btn-next">
            <svg class="swiper-pr-svg" width="24px" height="24px"><use href="./img/icons.svg#icon-arrow-narrow-right"></use></svg>
        </div>
        </div>
    </div>
</div>
</section>