<section class="reviews">
  <div class="container">
    <div class="swiper" id="reviews-slider">
      <h2 class="title-reviews">REVIEWS</h2>
      <ul class="swiper-wrapper" id="reviews-list">
        <!-- Отзывы будут добавлены динамически через JavaScript -->
      </ul>
      <div class="swiper-navigation">
        <div class="reviews-btn-prev swiper-button-disabled" tabindex="-1" role="button"
        aria-label="Previous slide" aria-controls="swiper-wrapper-0f7963a580b57b4e" aria-disabled="true">
        </div>
        <div class="reviews-btn-next" tabindex="0" role="button"
        aria-label="Next slide" aria-controls="swiper-wrapper-e28f65b9710b1045eb" aria-disabled="false">
        </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="module" src="../js/reviews.js"></script>
